extends base/layout

block content
	link(rel="stylesheet" href="/stylesheets/form.css")
	.menu
		.row
			.col-md-4.menucontent
				.row.text-center
					a.col-md-4.text-center.submenuoption(href="#")
						p.menupicture: span.glyphicon.glyphicon-cloud
						p.menutitle IaaS
				.divider
				.row
					a.col-md-4.text-center.submenuoption(href="#")
						p.menupicture: span.glyphicon.glyphicon-th
						p.menutitle Partitions
				.divider
				.row
					a.col-md-4.text-center.submenuoption(href="#")
						p.menupicture: span.glyphicon.glyphicon-road
						p.menutitle Deployment Policies
				.divider
				.row
					a.col-md-4.text-center.submenuoption(href="/configure/autoscalingpolicies")
						p.menupicture: span.glyphicon.glyphicon-resize-full
						p.menutitle Autoscaling Policies
				.divider
				.row
					a.col-md-4.text-center.submenuoption(href="#")
						p.menupicture: span.glyphicon.glyphicon-inbox
						p.menutitle Cartridge/LB Definitions
				.divider
				.row
					a.col-md-4.text-center.submenuoption(href="#")
						p.menupicture: span.glyphicon.glyphicon-transfer
						p.menutitle Multitenant Services
			.col-md-1.menutoggle#menubutton
				span.glyphicon.glyphicon-list
	#centered
		h1#maintitle.text-center Add a new #{name_singular}
		// Jade functions
		mixin field (label, placeholder, fieldName)
			label.formlabel #{label}
			input(type="text" placeholder="#{placeholder}" id="#{fieldName}").form-control
		mixin title (content)
			h4 #{content}
		mixin subformComponent (component)
			.col-xs-6
				- if (component.type === 'field')
					+field(component.label, component.placeholder, component.name)
				- else if (component.type === 'title')
					+title(component.content)
		// Panel content
		.container#content
			.form(action="#")
				- each spec in form_spec
					- if (spec.type === 'field')
						+field(spec.label, spec.placeholder, spec.name)
					- else if (spec.type === 'title')
						+title(spec.content)
					- else if (spec.type === 'subform')
						.panel-group.subform(id="#{spec.name}")
							.panel.panel-default
								.panel-heading
									h4.panel-title: a.togglelink(data-toggle="collapse" data-parent="#{spec.name}" href="##{spec.name}panel") #{spec.label}
								.panel-collapse.collapse(id="#{spec.name}panel")
									- var count = 0
									while count < spec.content.length
										.form-group
											.row
												+subformComponent(spec.content[count])
												- if (count + 1 < spec.content.length)
													+subformComponent(spec.content[count + 1])
										- count = count + 2
			.jsonform
				input(type="text")
			.container.text-center
				.col-md-4
					a.formbutton.formbutton-danger(href="/configure/#{base_url}") Cancel
				.col-md-4
					a.formbutton.formbutton-caution#editortoggle(href="#") Edit JSON
				.col-md-4
					a.formbutton.formbutton-success(href="#") Deploy
	script(src="/js/form.js")